.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 70%;
  margin: auto;
}

.img {
  width : 530px;
  height: 415px;
}

.section {
  margin: 15% 5% 5% 5%;
  color : black;
}

.container-tweet {
  margin-top: 10%;
  margin-bottom: 10%;
}

.container-prices {
  margin-top: 5%;
  margin-bottom: 5%;
}

.round-border {
  border: 5px solid #000000;
  border-radius: 5px;
  margin-top: 0;
}

.tweet-btn {
  margin-top: 12px;
  margin-bottom: 12px;
}

.tweet-user {
  color: #2b542c;
}

.tweet-time {
  float: right;
  font-size: small;
  color: gray;
}

.tweet-title {
  background-color: #d8eef6;
  color: #54727d;
  margin-top: 0;
  margin-bottom: 5px;
  border: 1px solid #d8eef6;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.open-sans-font {
  font-family: 'Open Sans', sans-serif;
}

.tweet-img {
  border: 2px solid gray;
  border-radius: 50%;
  height: 65px;
  width: 80px;
}

.tweet-div-pad {
  padding-left: 0;
}

.bottom-color{
  color: brown;
}

.tweet-border {
  border: 2px solid #d8e0e3;
  border-radius: 10px;
  background-color: white;
  padding-left: 0;
  padding-right: 0;
}

.bg {
  background-color: #772a26;
}

.basic {
  background-color: #23527c;
  margin-bottom: 0;
}

.medium {
  background-color: #985f0d;
  margin-bottom: 0;
}

.advance {
  background-color:  #482b70 ;
  margin-bottom: 0;
}

.poor {
  background-color: darkgreen;
  margin-bottom: 0;
}

.mock{
  background-color: #ff00e3;
  margin-bottom: 0;
}

.table-options {
  border: 2px solid gray;
  font-size: 18px;
}

.text-color {
  color: rgb(255, 253, 39);
}

.basic-price {
  background-color: #347ab9;
  margin-top: 0;
}

.medium-price {
  background-color: #cc8011;
  margin-top: 0;
}

.advance-price {
  background-color: #753cad;
  margin-top: 0;
}

.poor-price {
  background-color: #00bf00;
  margin-top: 0;
}

.mock-price{
  background-color: #8b0081;
  margin-top: 0;
}

.btn-border {
  border: 20px solid #b6b6b6;
  border-radius: 0;
}

.price-pad {
  padding-top: 20px;
  padding-bottom: 20px;
}

.plan-pad {
  padding-top: 10px;
  padding-bottom: 10px;
}